#sign-bar{
    margin: 0 80px 20px 80px;
    border-bottom: 1px #0a53be solid;
}
#photo-container {
    float: left;
    width: 35%;
    height: 224px;
    margin-left: 80px;
    padding: 10px;
}
#photo-container img{
    height: auto;
}
#info-container{
    float: right;
    width: 46%;
    height: 20px;
    margin-right: 80px;
}
#info-container>ul>li{
    margin: 3px 0 3px;
}
#info-container>ul{
    color: #0a53be;
}
.title{
    color: #0a53be;
    font-weight: bold;
}
.content{
    color: black;
    text-align: right;
}